/*
 * Table styles 
*/

table {
    border: 1px solid;
    table-layout: fixed;
    width: 1300px;
    font: normal 13px Arial;
    text-align: center;
    border-collapse: collapse;
    border-color: black;
}
table th{
     font:bold 18px Arial;
    background-color:lightblue;
}
.informationPet{
    color:black;
    background-color:white;
}
th.column-header-i {
    font-size: 30px;
}